<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Person edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  	<form th:action="@{save}" action="save" th:object="${person}">
		<input type="text" th:field="*{firstName}" />
		<span th:if="${#fields.hasErrors('firstName')}" 
			th:errors="*{firstName}">error</span>
		<input type="text" th:field="*{lastName}" />
		<input type="text" th:field="*{dayOfBirth}" />
		<span th:if="${#fields.hasErrors('dayOfBirth')}" 
			th:errors="*{dayOfBirth}">error</span>
		<input type="submit" value="Save" />
  	</form>
  	
  </body>

</html>