<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skillsfighters.activity_tracker_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <activity
            android:name=".activities.GroupActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.AuthenticationActivity" />

        <activity
            android:name=".activities.AuthenticationActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.GraphActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.GroupActivity"/>

        <activity android:name=".activities.CalendarActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.GroupActivity" />

        <service android:name=".services.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>