<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Person list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
	<span th:text="${firstPerson.firstName}" ></span>
  <table>
  	<thead>
		<tr>
	  		<th>First ddddName</th>
	  		<th>Second Name</th>
	  		<th>Day of birth</th>
	  		<th>Age</th>
	  		<th>Akce</th>
		</tr>
  	</thead>
  	<tbody>
		<tr th:each="person,iter :${persons}">
	  		<td th:text="${person.firstName}">First Name</td>
	  		<td th:text="${person.lastName}">Second Name</td>
	  		<td th:text="${person.dayOfBirth}">1.1.2020</td>
	  		<td th:text="${person.age}">11</td>
	  		<td>
	  			<a th:href="@{edit(index=${iter.index})}">Edit 1</a>
	  			<a th:href="@{edit/{index}(index=${iter.index})}">Edit 2</a>
	  		</td>
		</tr>
  	
  	</tbody>
  </table>
  </body>

</html>